/* Global Settings */
html {
  font-size: 18px;
  line-height: 1.4;
  font-family: Helvetica, sans-serif;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

h1, h3 {
  font-weight: bold;
}

span, p, li, h3 {
  font-size: 1rem;
}

/* Header Settings */
.background {
  background-image: url("../images/background.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 31rem;
  width: 100%;
}

.background .flexb {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: cadetblue;
  color: white;
}

@media only screen and (min-width: 960px) {
  .background .flexb {
    position: relative;
    top: 1rem;
  }
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 1.5rem;
  padding-left: 2rem;
  padding-right: 1rem;
}

nav ul {
  display: flex;
  align-items: center;
  padding-right: 1rem;
}

nav li {
  padding: 1rem;
}

.mobile {
  display: none;
}

.flex {
  display: flex;
  flex-direction: row-reverse;
  margin-top: 10rem;
}

.title h1 {
  padding: 1.5rem 5rem;
  background-color: white;
  color: black;
  font-size: 2rem;
  line-height: 1.2;
  margin-right: -2rem;
}

/* Content Settings */
.services {
  display: flex;
  justify-content: center;
}

.service {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 8rem;
  width: 5rem;
  margin: 3rem;
  text-align: center;
}

.service img {
  width: 5rem;
}

img.paper {
  width: 3.5rem;
}

.info {
  display: flex;
  flex-direction: column;
  width: 35%;
  margin: 0 2.5% 5rem 2.5%;
}

.info h3 {
  padding: 0.5rem 1.25rem;
  width: 10rem;
  background-color: cadetblue;
  color: white;
  margin-bottom: 1rem;
}

/* Footer Settings */
footer {
  display: flex;
  align-items: center;
  background-color: azure;
}

footer img {
  height: 1.5rem;
  padding: 4rem 1rem 4rem 4rem;
}
